/* 
Colours: 
#464089 - dark purple
#95def8 - ice blue

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../images/backgroundimg.jpg);
    
}

#introduction {
    margin: 2rem;
}

footer {
    position: fixed;
    bottom: 1rem;
    left: 80rem;
}

.div-box {
    background-color: rgba(149, 222, 248, 0.3);
}

.btn {
    padding: 0.5rem;
    background-color: #464089;
    color: white;
}

/* .btn:hover {

} */

.setup {
    margin: 3rem;
}

.header {
    font-size: 5rem;
}

.centre {
    text-align: center;
}

ul {
    padding: 5rem;
}

li {
    list-style-type: none;
}
