:root {
    --drk-blue: #06072c;
    --purple: #464089;
    --ice-blue: #95def8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(../images/bgcopy.jpg) no-repeat center center fixed;
    border: solid var(--drk-blue) 1rem;
    height: 100vh;
}

/* HTML ID styles */
/* Home Section */

#introduction {
    font-size: 1.3rem;
    margin: 1rem 10rem;
    padding: 1vw;
}


#instructions:hover {
    cursor: help;
}

/* Instructions Section */

#instructs {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
}

#instructs > p {
    padding: 1rem 4rem;
    font-size: 2rem;
}

#instructs > h2 {
    font-size: 3rem;
    padding: 1rem 2rem;
}

/* Quiz Section */

#logo {
    display: block;
}

#logo:hover {
    cursor: pointer;
}

#logo > p {
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

#question-section {
    margin: 1rem 4rem;
}

#questions {
    font-size: 3rem;
    padding: 1.5vw 3vw;
}

#answers {
    display: inline-block;
    width: 25rem;
    /* float: right; */
}

#answers > button {
    margin: 1rem 2rem;
    width: 20rem;

}

#next-question {
    margin: 1.5rem;
    font-size: 4rem;
    /* display: block;
    position: absolute;
    left: 83.4rem;
    bottom: 11.6rem; */
    border-radius: 0.5rem;
    color: white;
    background-color: var(--purple);
    height: 17rem;
}

#next-question:hover {
    background-color: var(--drk-blue);
}

#score-area {
    font-size: 1.5rem;
    margin: 3rem 6rem 0;
    text-align: right;
}

/* Congratulations Section */

#end-quiz {
    width: 80%;
    margin: 10rem auto;
    height: 50%;
    font-size: 2rem;
}

#end-quiz > * {
    padding: 1rem;
}

#end-quiz > h2 {
    font-size: 2rem;
}

/* Universal Footer */

#footer {
    position: fixed;
    bottom: 0.2rem;
    left: 1rem;
    color: var(--ice-blue);
}

/* Class styles */

.setup {
    margin: 5vw;
}

.border {
    border: dotted var(--purple) 1rem;
}

.div-box {
    background-color: rgba(149, 222, 248, 0.5);
    border-radius: 0.5rem;
}

.centre {
    text-align: center;
}

.centre > li {
    list-style-type: none;
    text-align: right;
    display: inline;
    padding: 0.5vw;
}

.btn {
    padding: 0.5rem 2rem;
    margin: 1.5rem 5rem;
    background-color: var(--purple);
    color: white;
    border-radius: 0.5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background-color: var(--drk-blue);
}

.underline:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

/* Element styles */

h1 {
    font-size: 7rem;
    padding: 3vw;
    font-family: 'Orbitron', sans-serif;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
    padding: 0.5rem;
}

i {
    color: var(--purple);
    font-size: 80%;
}

ul {
    margin: 2vw;
}

img {
    height: 20rem;
    margin: 0 1rem 3rem 1rem;
    display: inline;
    padding-left: 5rem;
}

/************ Media Queries ***********/

@media only screen and (max-width: 1400px) {
    #instructs > p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1280px) {
    h1 {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 1110px) {
    h1 {
        font-size: 5rem;
    }

    #introduction {
        font-size: 1.2rem;
        margin: 1rem 5rem;
    }
}

@media only screen and (max-width: 940px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #introduction {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 920px) {
    
    #instructions, #play-game {
        margin: 0.5rem;
    }

    #instructs > p {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }

    body {
        background-size: cover;
    }
}

@media only screen and (max-width: 765px) {
    h1 {
        font-size: 3rem;
    }

    #introduction {
        font-size: 1rem;
        margin: 1rem 3rem;
    }

    #footer {
        font-size: 0.8rem;
    }

    #instructs > h2 {
        font-size: 2rem;
    }

    .btn {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 540px) {
    #instructs > p {
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width: 410px) {
    #introduction > h2 {
        font-size: 1.5rem;
    }

    #introduction > h3 {
        font-size: 1rem;
    }
    
    #instructions, #play-game {
        font-size: 1.5rem;
    }

    body {
        height: auto;
    }
}


