:root {
    --drk-blue: #06072c;
    --purple: #464089;
    --ice-blue: #95def8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(../images/bgcopy.jpg) no-repeat center center fixed;
    border: solid var(--drk-blue) 1rem;
    height: 100vh;
}

/* HTML ID styles */

#introduction {
    font-size: 1.3rem;
    margin: 1rem 10rem;
    padding: 1vw;
}


#instructions:hover {
    cursor: help;
}

#instructs {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
}

#instructs > p {
    padding: 1rem 4rem;
    font-size: 2rem;
}

#instructs > h2 {
    font-size: 3rem;
    padding: 1rem 2rem;
}

#logo {
    display: block;
}

#logo:hover {
    cursor: pointer;
}

#logo > p {
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

#question-section {
    margin: 3rem 4rem;
    height: 30rem;
}

#questions {
    font-size: 3rem;
    padding: 1.5vw 3vw;
}

#answers > .btn {
    margin: 1.5rem;
    display: block;
    width: 30rem;
}

#answers {
    position: relative;
    left: 45rem;
    bottom: 20rem;
    width: 30rem;
}

#next-question {
    margin: 1.5rem;
    font-size: 4rem;
    display: block;
    position: absolute;
    left: 83.4rem;
    bottom: 11.6rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--purple);
    height: 17rem;
}

#next-question:hover {
    background-color: var(--drk-blue);
}

#score-area {
    font-size: 1.5rem;
    position: relative;
    left: 81rem;
    top: 2.5rem;
    width: 10rem;
}

#footer {
    position: fixed;
    bottom: 1rem;
    left: 80rem;
    color: var(--ice-blue);
}

/* Class styles */

.setup {
    margin: 5vw;
}

.border {
    border: dotted var(--purple) 1rem;
}

.div-box {
    background-color: rgba(149, 222, 248, 0.5);
    border-radius: 0.5rem;
}

.centre {
    text-align: center;
}

.centre > li {
    list-style-type: none;
    text-align: right;
    display: inline;
    padding: 0.5vw;
}

.btn {
    padding: 0.5rem 2rem;
    margin: 1.5rem 5rem;
    background-color: var(--purple);
    color: white;
    border-radius: 0.5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background-color: var(--drk-blue);
}

.underline:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

.hidden {
    display: none;
}

/* Element styles */

h1 {
    font-size: 7rem;
    padding: 3vw;
    font-family: 'Orbitron', sans-serif;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
    padding: 0.5rem;
}

i {
    color: var(--purple);
    font-size: 80%;
}

ul {
    margin: 2vw;
}

img {
    height: 20rem;
    display: inline-block;
    padding-left: 5rem;
}
